---
http_interactions:
- request:
    method: post
    uri: https://www.fio.cz/ib_api/rest/import/?token=somelongtoken&type=xml
    body:
      encoding: UTF-8
      string: "--------------------------UFUFp-y_DGK55ls6\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"fio20180606-86327-8ctjzc\"\r\nContent-Type:
        application/octet-stream\r\n\r\n<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Import
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:noNamespaceSchemaLocation=\"http://www.fio.cz/schema/importIB.xsd\">\n
        \ <Orders>\n    <DomesticTransaction>\n      <accountFrom>11111111</accountFrom>\n
        \     <currency>CZK</currency>\n      <amount>100.0</amount>\n      <accountTo>22222222</accountTo>\n
        \     <bankCode>3030</bankCode>\n      <ks/>\n      <vs/>\n      <ss/>\n      <date>2018-05-05</date>\n
        \     <messageForRecipient/>\n      <comment/>\n      <paymentType>431001</paymentType>\n
        \   </DomesticTransaction>\n  </Orders>\n</Import>\n\r\n--------------------------UFUFp-y_DGK55ls6--\r\n"
    headers:
      Content-Type:
      - multipart/form-data; boundary=------------------------UFUFp-y_DGK55ls6
      Boundary:
      - "-----------RubyMultipartPost"
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/plain;charset=UTF-8
    body:
      encoding: UTF-8
      string: " "
  recorded_at: Wed, 06 Jun 2018 11:16:43 GMT
recorded_with: VCR 4.0.0
